{% extends "news_engine/base.html" %}
<nav class="navbar navbar-dark bg-dark px-3">
  <a class="navbar-brand" href="/">GNN</a>
  
  <div class="navbar-nav d-flex flex-row align-items-center">
    {% if user.is_authenticated %}
        
        {% if user.role == "Journalist" or user.role == "Editor" %}
            <a class="nav-link px-3" href="{% url 'submit_article' %}">Submit News</a>
        {% endif %}

        {% if user.role == "Editor" %}
            <a class="nav-link px-3 text-warning border border-warning rounded" href="{% url 'editor_dashboard' %}">
                Editor Panel
            </a>
        {% endif %}
        
        <span class="navbar-text ms-3 italic">Welcome, <strong>{{ user.username }}</strong></span>
        <a class="nav-link px-3" href="{% url 'logout' %}">Logout</a>

    {% else %}
        <a class="nav-link px-2" href="{% url 'login' %}">Login</a>
    {% endif %}
  </div>
</nav>